.product-page {
  margin: 7rem 0;

  &--img {
    width: 100%;
    height: auto;
  }

  &--text-box {
    margin-top: 5rem;
  }

  &--title {
    font-size: 4rem;
    font-weight: 500;
  }

  &--price-review {
    display: flex;
    align-items: center;
    margin-top: 1.3rem;
  }

  &--price {
    font-size: 1.8rem;
    color: #000;
    font-weight: 500;
    margin-right: 2rem;
  }

  &--detail {
    font-size: 1.6rem;
    margin-top: 3rem;
  }

  .add-to-cart--btn {
    display: inline-block;
    margin-top: 4rem;
    background: #111;
    box-shadow: none;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 600;
    padding: 1.6rem 6rem;
    border-radius: 2rem;

    &:hover {
      background: lighten(#111, 10%);
    }
  }

}
